@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 17% 16%;

    --card: 0 0% 100%;
    --card-foreground: 210 17% 16%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 17% 16%;

    --primary: 197 100% 36%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 16% 93%;
    --secondary-foreground: 210 17% 16%;

    --muted: 210 16% 96%;
    --muted-foreground: 210 11% 46%;

    --accent: 197 71% 73%;
    --accent-foreground: 210 17% 16%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;

    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 197 100% 36%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 210 24% 12%;
    --foreground: 210 16% 93%;

    --card: 210 22% 16%;
    --card-foreground: 210 16% 93%;

    --popover: 210 22% 16%;
    --popover-foreground: 210 16% 93%;

    --primary: 197 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 19% 22%;
    --secondary-foreground: 210 16% 93%;

    --muted: 210 19% 22%;
    --muted-foreground: 210 11% 65%;

    --accent: 197 71% 40%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;

    --border: 210 19% 24%;
    --input: 210 19% 24%;
    --ring: 197 100% 50%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
